In [ ]:
# project: p7
# submitter: cjhon
# partner: none
# hours: 10

In [35]:
import pandas as pd
import os
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_validate

In [2]:
train_users = pd.read_csv("data/train_users.csv")
train_logs = pd.read_csv("data/train_logs.csv")
train_y = pd.read_csv("data/train_y.csv")

test1_users = pd.read_csv("data/test1_users.csv")
test1_logs = pd.read_csv("data/test1_logs.csv")
test1_y = pd.read_csv("data/test1_y.csv")

In [3]:
train_users

       user_id            names  age  past_purchase_amt   badge
0            0  Adriana Mcclure   26          39.344704    gold
1            1    Stacy Gilmore   67          15.840151  silver
2            2     Joanna Walsh   50        1099.420085  bronze
3            3    Eduardo Moore   65           5.880239  bronze
4            4   Angela Freeman   88        1312.296847  bronze
...        ...              ...  ...                ...     ...
29995    29995    William Lewis   87         108.914205  bronze
29996    29996    James Miranda   49         291.969273    gold
29997    29997     Carlos Davis   46           2.609698  bronze
29998    29998    Makayla Smith   23         164.885894  bronze
29999    29999    Tina Anderson   51         161.905284    gold

[30000 rows x 5 columns]

In [4]:
logs_seconds = train_logs.groupby(['user_id']).sum()
train_users_seconds = train_users.merge(logs_seconds, on='user_id', how='left')
train_users_seconds['seconds'] = train_users_seconds['seconds'].fillna(0)
train_users_seconds

       user_id            names  age  past_purchase_amt   badge  seconds
0            0  Adriana Mcclure   26          39.344704    gold    327.0
1            1    Stacy Gilmore   67          15.840151  silver     78.0
2            2     Joanna Walsh   50        1099.420085  bronze    432.0
3            3    Eduardo Moore   65           5.880239  bronze      0.0
4            4   Angela Freeman   88        1312.296847  bronze      0.0
...        ...              ...  ...                ...     ...      ...
29995    29995    William Lewis   87         108.914205  bronze    563.0
29996    29996    James Miranda   49         291.969273    gold    532.0
29997    29997     Carlos Davis   46           2.609698  bronze      0.0
29998    29998    Makayla Smith   23         164.885894  bronze      0.0
29999    29999    Tina Anderson   51         161.905284    gold    467.0

[30000 rows x 6 columns]

```
from main import UserPredictor
model = UserPredictor()
train_users = pd.read_csv("data/train_users.csv")
train_logs = pd.read_csv("data/train_logs.csv")
train_y = pd.read_csv("data/train_y.csv")
model.fit(train_users, train_logs, train_y)
```

In [5]:
train_y['y']

0        False
1        False
2         True
3        False
4        False
         ...
29995    False
29996     True
29997    False
29998    False
29999     True
Name: y, Length: 30000, dtype: bool

In [6]:
logs_seconds = test_logs.groupby(['user_id']).sum()
test_users_seconds = test_users.merge(logs_seconds, on='user_id', how='left')
test_users_seconds['seconds'] = test_users_seconds['seconds'].fillna(0)
test_users_seconds

NameError: name 'test_logs' is not defined

train test

In [14]:
class UserPredictor:
    lr = LogisticRegression()

    def fit(self, train_users, train_logs, train_y):
#         lr.fit(train[["AREALAND"]], train["POP100"])
#         lr.score(test[["AREALAND"]], test["POP100"])
#         lr.fit()
        logs_seconds = train_logs.groupby(['user_id']).sum()
        train_users_seconds = train_users.merge(logs_seconds, on='user_id', how='left')
        train_users_seconds['seconds'] = train_users_seconds['seconds'].fillna(0)
#         train_users_seconds
        
        self.lr.fit(train_users_seconds[["seconds"]],train_y[['y']] )
#         print(train_users)

    def predict(self, test_users, test_logs):
        logs_seconds = test_logs.groupby(['user_id']).sum()
        test_users_seconds = test_users.merge(logs_seconds, on='user_id', how='left')
        test_users_seconds['seconds'] = test_users_seconds['seconds'].fillna(0)
        
        predictions =self.lr.predict(test_users_seconds[['seconds']])
        
        return predictions
        

    
model = UserPredictor()
train_users = pd.read_csv("data/train_users.csv")
train_logs = pd.read_csv("data/train_logs.csv")
train_y = pd.read_csv("data/train_y.csv")
model.fit(train_users, train_logs, train_y)

test_users = pd.read_csv("data/test1_users.csv")
test_logs = pd.read_csv("data/test1_logs.csv")
y_pred = model.predict(test_users, test_logs)
y_pred

/home/charles/.local/lib/python3.8/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([ True,  True,  True, ..., False, False,  True])

In [15]:
type(y_pred)

numpy.ndarray

cross validation

In [ ]:
>>> diabetes = datasets.load_diabetes()
>>> X = diabetes.data[:150]
>>> y = diabetes.target[:150]
>>> lasso = linear_model.Lasso()

In [38]:
class UserPredictor:
    lr = LogisticRegression()
    
    
    def fit(self, train_users, train_logs, train_y):
        logs_seconds = train_logs.groupby(['user_id']).sum()
        train_users_seconds = train_users.merge(logs_seconds, on='user_id', how='left')
        train_users_seconds['seconds'] = train_users_seconds['seconds'].fillna(0)
        
        self.lr.fit(train_users_seconds[["seconds"]],train_y[['y']] )

        cv_results = cross_validate(self.lr, train_users_seconds[["seconds"]],train_y[['y']], cv=3)
        
#         logs_seconds = train_logs.groupby(['user_id']).sum()
#         train_users_seconds = train_users.merge(logs_seconds, on='user_id', how='left')
#         train_users_seconds['seconds'] = train_users_seconds['seconds'].fillna(0)
# #         train_users_seconds


#         self.lr.fit(train_users_seconds[["seconds"]],train_y[['y']] )
# #         print(train_users)

    def predict(self, test_users, test_logs):
        logs_seconds = test_logs.groupby(['user_id']).sum()
        test_users_seconds = test_users.merge(logs_seconds, on='user_id', how='left')
        test_users_seconds['seconds'] = test_users_seconds['seconds'].fillna(0)
        
        
        return self.lr.predict(test_users_seconds[['seconds']])
        

    
model = UserPredictor()
train_users = pd.read_csv("data/train_users.csv")
train_logs = pd.read_csv("data/train_logs.csv")
train_y = pd.read_csv("data/train_y.csv")
model.fit(train_users, train_logs, train_y)

test_users = pd.read_csv("data/test1_users.csv")
test_logs = pd.read_csv("data/test1_logs.csv")
y_pred = model.predict(test_users, test_logs)
y_pred

/home/charles/.local/lib/python3.8/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/charles/.local/lib/python3.8/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/charles/.local/lib/python3.8/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/charles/.local/lib/python3.8/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([ True,  True,  True, ..., False, False,  True])

In [28]:
logs_seconds = summed_logs.groupby(['user_id']).sum()
summed_users_seconds = summed_users.merge(logs_seconds, on='user_id', how='left')
summed_users_seconds['seconds'] = summed_users_seconds['seconds'].fillna(0)
summed_users_seconds

       user_id            names  age  past_purchase_amt   badge  seconds
0            0  Adriana Mcclure   26          39.344704    gold    327.0
1            1    Stacy Gilmore   67          15.840151  silver     78.0
2            2     Joanna Walsh   50        1099.420085  bronze    432.0
3            3    Eduardo Moore   65           5.880239  bronze      0.0
4            4   Angela Freeman   88        1312.296847  bronze      0.0
...        ...              ...  ...                ...     ...      ...
59995    59995    John Figueroa   65           9.128541  bronze    785.0
59996    59996  Anthony Jimenez   53          41.161813    gold     54.0
59997    59997       Penny Webb   88           7.126658  silver    168.0
59998    59998     Gary Salazar   46          30.402432  silver    327.0
59999    59999      Richard Cox   34          26.290697  bronze    603.0

[60000 rows x 6 columns]

In [32]:
summed_users = pd.concat([train_users,test_users])
summed_logs = pd.concat([train_logs, test_logs])
summed_y = pd.concat([train_y, test1_y])